:host {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}


.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-field {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 5px 0;
    color: #898989;
}

.format-line {
    display: block;
    background-color: grey;
    width: 100%;
    height: 1px;
    margin: 20px 0px;
}

input[type=text], input[type=date], input[type=number], select {
    padding: 12px 0px;
    padding-left: 5px;
    width: 250px;
    background-color: #F7F6F2;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 12px 0px;
    padding-left: 5px;
    width: 250px;
}

textarea {
    width: 100%;
    background-color: #F7F6F2;
}

select {
    color: #898989;
}

option {
    padding: 10px 0px;
}

.btn {
    text-align: center;
    margin-top: 20px;
    background-color: #B11D33;
    color: white;
    border: 1px solid #B11D33;
    box-sizing: border-box;

}

.btn:hover {
    background-color: #8B2130;
}



