<table id="medals">
    <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>Gold</th>
        <th>Silver</th>
        <th>Bronze</th>
        <th>Total</th>
    </tr>
    <tr *ngFor='let c of countriesList; index as i'>
        <td>{{i+1}}</td>
        <td>{{c.name}}</td>
        <td>{{c.medals.gold}}</td>
        <td>{{c.medals.silver}}</td>
        <td>{{c.medals.bronze}}</td>
        <td>{{c.medals.gold+ c.medals.silver + c.medals.bronze}}</td>
    </tr>
    <tr>
        <td colspan="3">
            <button mat-button (click)="prev()" disabled='{{start == 0}}'>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </td>
        <td colspan="3">
            <button mat-button (click)="next()" disabled='{{end == countries.length}}'>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </td>
    </tr>
</table>